<html>
<body>
    <div class="cadre " id="cadre-form">
    <form id="form1" >
       
        <div class="row">
            <div class="col-auto">
                <label for="Nom">Nom </label> <br>
                <input   type="text" class="form-control" name="Nom" placeholder="Nom" aria-label="Nom">
            </div>
            <br>
            <div class="col-auto">
                <label for="Couleur">Couleur</label> <br>
                <input type="text" class="form-control"  name ="Couleur" placeholder="Couleur..." aria-label="Couleur...">
            </div>
            <br>
            <div class="col-auto">
                <label for="Matiere">Matiere</label> <br>
               <input  type="text" class="form-control" placeholder="Matiere" aria-label="Matiere.." name="Matiere">
            </div>
           <div class="col-auto">
            <label for="Prix">Prix</label> <br>
               <input  type="text" class="form-control" placeholder="Prix..." aria-label="Prix..." name="Prix">
           </div>
        </div>
        <br>
        <br>
        <div class="row">     
            <div class="col-auto">
                <label for=">Inserer_une_image">Inserer une image</label>
                <input  type="text" class="form-control" placeholder="image URL" name="Inserer_une_image">
            </div>
            </div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 button gauche" type="button" id="ajouter1">Annuler</button>
            <button  class="btn btn-primary me-md-2 button droite" type="reset" id="supprimer1">Terminer</button>
        </div>
</form>
</div>
</body>
</html>