
<body>
    <div class="container">
        <div class="row">
            <div class=" col-6 product-image"  id="b1">
                <img src="assets/mon1.jpg" alt="c1">
            </div>
            <div class="col-6" id="carb1">
                <h2>Caractéristiques</h2> <br> 
                <p>
                    Nom :      Montre le Lys <br> <br>
                  Couleur : Marron <br> <br>
                    Matière : Metal <br> <br>          
                    prix      :          150 DT<br> <br>
                   </p>
                    <br>
            </div> 
        </div>
        <div class="product">
            <div class="container">
              <div class="col-6">
                <div class="product-image">
                  <img src="assets/mon1.jpg" alt="About Image" />
                </div>
              </div>
              <div class="col-6">
                <div class="product-text">
                  <h2>Caractéristiques</h2>
                  <p>Nom: <span>Montre le Lys</span></p>
                  <p>Nom: <span>Montre le Lys</span></p>
                  <p>Nom: <span>Montre le Lys</span></p>
                  <p>Nom: <span>Montre le Lys</span></p>
                  <p>Nom: <span>Montre le Lys</span></p>
                  <p>Nom: <span>Montre le Lys</span></p>
                  <p>Nom: <span>Montre le Lys</span></p>
                </div>
              </div>
            </div>
          </div>
        <div class="button-container">
            <div class="d-grid gap-2 d-md-flex justify-content-md">
             <button class="btn btn-primary me-md-2 button gauche" type="button" id="modifierb1">Modifierr</button>
            <button class="btn btn-primary me-md-2 button droite" type="button" id="supprimerb1">Supprimer</button>
          </div>
        </div>
    </div>
</body>


