

<body>
    <div class="cadre" id="Nos-collection">
        <h4>Nos Collection</h4>
       </div>
       <div class="product-grid">
       <div class="row">
        <div class="col-4">
        <div class="product-card">
          <img src="assets/collier.jpg" alt="b1" id="1" routerLink="/nos-collier" class="image">
          <h3 class="product-title"><a routerLink="/nos-collier" id="1">Collier</a></h3>
        </div>
    </div>
        <div class="col-4">
        <div class="product-card">
          <img src="assets/braclet.jpg" alt="b2" id="2" routerLink="/nos-bracelet" class="image">
          <h3 class="product-title"><a routerLink="/nos-bracelet" id="2">braclet</a></h3>
        </div>
    </div>
    <div class="col-4">
        <div class="product-card">
          <img src="assets/montre.jpg" alt="b3" id="3" routerLink="/nos-montre" class="image">
          <h3 class="product-title"><a routerLink="/nos-montre" id="3">Montre</a></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="product-card">
            <img src="assets/nv1.jpg" alt="b4" id="4" routerLink="/nos-boucle" class="image">
            <h3 class="product-title"><a routerLink="/nos-boucle" id="4">boucle</a></h3>
          </div>
        </div>
        <div class="col-4">
          <div class="product-card">
            <img src="assets/b7.jpg" alt="b5" id="5" routerLink="/nos-bague" class="image">
            <h3 class="product-title"><a routerLink="/nos-bague" id="5">Bague</a></h3>
          </div>
        </div>
        <div class="col-4">
          <div class="product-card">
            <img src="assets/nv.jpg" alt="b6" id="6" routerLink="/nv" class="image" >
            <h3 class="product-title"><a routerLink="/nv"  id="6">Neauvauté</a></h3>
          </div>
          </div>
          </div>
          <div class="button-container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-primary me-md-2 button gauche" type="button" id="ajouter1">Supprimer</button>
            <button class="btn btn-primary me-md-2 button droite" type="button" id="supprimer1">Ajouter</button>
          </div>
        </div>
    </div>
</body>


