
#Nos-contact{
    width: 210px;
        height: 70px;
        border: 1px solid rgb(148, 147, 147);
        margin-top: 25px;
        padding: 18px;
        background-color: white;
        border-radius: 10px;
        font-family: Arial, sans-serif;
        margin-left: 47%
  }
  #Nos-contact h4{
    text-align: center;
    color:#D8BD90;
  }
  #contc1 h5{
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    margin-top: 5%;
  }
  #contc2 h6{
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
   font-size:90% ;
  }
  #tel1{
    margin: 0%;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(148, 147, 147);
    margin: 18px;
    padding: 18px;
    background-color: white;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin-left: 43%
  }
  #tel1 img{
   width:20%;
   height:20% ;
   margin-left: 40%;
   margin-right: 50%;
  }
  #tel1 p {
    margin-top: 20%;
    font-size: medium;
    font-style: oblique;
  }
  #mail1{
    margin: 0%;
    width: 210px;
    height: 200px;
    border: 1px solid rgb(148, 147, 147);
    margin: 18px;
    padding: 18px;
    background-color: white;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin-left: 43%
  }
  #mail1 img{
   width:20%;
   height:20% ;
   margin-left: 40%;
   margin-right: 50%;
  }
  #mail1 p {
    margin-top: 20%;
    font-size: medium;
    font-style: oblique;
  }
  #insta1{
    margin: 0%;
    width: 210px;
    height: 200px;
    border: 1px solid rgb(148, 147, 147);
    margin: 18px;
    padding: 18px;
    background-color: white;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin-left: 43%
  }
  #insta1 img{
   width:20%;
   height:20% ;
   margin-left: 40%;
   margin-right: 50%;
  }
  #insta1 p {
    margin-top: 20%;
    font-size: medium;
    font-style: oblique;
  }
  #modifier1 {
    display: inline-block;
    padding: 10px 20px;
    background-color:#D8BD90;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
  }
  
  .button-container{
    float: right;
  }
  