
<body>
    

<div class="cadre" id="Nos-contact">
    <h4>Contactez-nous</h4>
</div>
   <div id="contc1">
    <h5>Vous avez des questions au sujet de nos marques ? N'hesitez pas a contacter notre service. </h5>
     </div>
    <div id="contc2">
    <h6>Nous sommes disponibles du Lundi au Samedi de 10h a 19h.</h6>
     </div>
     <div class="container">
        <div class="row">
            <div class=" col-4 ">
                <div class="cadre" id="tel1">
                <img src="assets/cont1.png" alt="cont1">
                <p>Apellez nous au : <br> + (216) 20000000</p>
            </div>
        </div>
        <div class="col-4">
            <div class="cadre" id="mail1">
                <img src="assets/cont2.jpg" alt="cont2">
                <p>Ecrivez-nous sur l'adresse mail : <br>Flora.creation@gmail.com </p>
            </div>
        </div>
        <div class="col-4">
            <div class="cadre" id="insta1">
                <img src="assets/cont4.png" alt="cont4">
                <p>Posez toutes vos questions sur notre compte instagram: <br>
                Flora.creation</p>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <button class="btn  me-md-2 button gauche" type="button" id="modifier1">Modifier</button>
      </div>
    </div>
     </div>
    </body>