
<body>
    

    <div class="cadre" id="Neauvauté">
        <h4>Neauvauté</h4>
       </div>
       <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card-img">
                    <img class="w-100" src="assets/nv1.jpg" alt="im1" routerLink="/nv1">
                </div>
                <div class="card-body">
                    <h5>Des Boucles l'Hibiscus</h5>
                    <p  class="center">45 dt</p>
            
                </div>
            </div>
                <div class="col-4">
                    <div class="card-img">
                        <img class="w-100" src="assets/nv2.jpeg" alt="im2">
                    </div>
                    <div class="card-body">
                        <h5>Bague et Bracelet la Belle</h5>
                        <p  class="center">150 dt</p>
            
                    </div>
                </div>
                <div class="col-4">
                  <div class="card-img">
                      <img class="w-100" src="assets/nv3.jpg" alt="im3">
                  </div>
                  <div class="card-body">
                      <h5>Bague le Cœur-de-marie</h5>
                      <p  class="center">50 dt</p>
            
                  </div>
              </div>
              
            </div>
            
        </div>
        <div class="button-container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button  (click)="gotoajout()" class="btn me-md-2 button droite " type="button">Ajouter</button>
          </div>
        </div>
    </body>
