
<body>
    

<div class="cadre" id="Nos-bague">
    <h4>Nos Bague</h4>
   </div>
  
    <div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card-img" >
                <img class="w-100" src="assets/b1.jpg" alt="im1" routerLink="/bague1">
            </div>
            <div class="card-body" >
                <h5 >Bague Tournesol</h5>
                <p  class="center">25 dt</p>
        
            </div>
        </div>
            <div class="col-3">
                <div class="card-img">
                    <img class="w-100" src="assets/b2.jpg" alt="im2">
                </div>
                <div class="card-body">
                    <h5>Bague Hortensia</h5>
                    <p  class="center">12 dt</p>
        
                </div>
            </div>
            <div class="col-3">
              <div class="card-img">
                  <img class="w-100" src="assets/b3.gif" alt="im3">
              </div>
              <div class="card-body">
                  <h5>Bague Violette</h5>
                  <p  class="center">35 dt</p>
        
              </div>
          </div>
          <div class="col-3">
            <div class="card-img">
                <img class="w-100" src="assets/b4.jpg" alt="im4">
            </div>
            <div class="card-body">
                <h5>Bague Eglantine</h5>
                <p  class="center">32 dt</p>
        
            </div>
        </div>
        </div>
    </div> 
    <div class="button-container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button  (click)="gotoajout()" class="btn me-md-2 button droite " type="button">Ajouter</button>
      </div>
    </div>
</body>
