<body>
    <div class="cadre " id="cadre-form">
    <form id="form1" >
       
        <div class="row">
            <div class="col-auto">
                <label for="tel">Tel </label> <br>
                <input  type="text" class="form-control" name="Nom" placeholder="tel" aria-label="tel">
            </div>
            <br>
            <div class="col-auto">
                <label for="mail">adresse mail</label> <br>
                <input  type="text" class="form-control"  name ="mail" placeholder="adresse mail" aria-label="adresse mail">
            </div>
            <br>
            <div class="col-auto">
                <label for="insta">Compte Instagram</label> <br>
               <input  type="text" class="form-control" placeholder="insta" aria-label="insta" name="insta">
            </div>
        </div>
        <br>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 button gauche" type="button" id="ajouter1">Annuler</button>
            <button  class="btn btn-primary me-md-2 button droite" type="reset" id="supprimer1">Terminer</button>
        </div>
</form>
</div>
</body>
