
<body>
    <div class="container">
        <div class="row">
            <div class="col-6" id="b1">
                <img src="assets/bo1.jpg" alt="bo1">
            </div>
            <div class="col-6" id="carb1">
                <h2>Caractéristiques</h2> <br> 
                <p>
                    Nom : Boucle la Rose Rose <br> <br>
                    Couleur  : Rose <br> <br>
                   Matière : Acier inoxydable <br> <br>
                   prix : 60 DT <br> <br>
                    </p> <br>
            </div>
        </div>
        <div class="button-container">
            <div class="d-grid gap-2 d-md-flex justify-content-md">
             <button class="btn btn-primary me-md-2 button gauche" type="button" id="modifierb1">Modifierr</button>
            <button class="btn btn-primary me-md-2 button droite" type="button" id="supprimerb1">Supprimer</button>
          </div>
        </div>
    </div>
</body>
