

<body>
    <div class="container">
        <div class="row">
            <div class="col-6" id="b1">
                <img src="assets/b1.jpg" alt="b1">
            </div>
            <div class="col-6" id="carb1">
                <h2>Caractéristiques</h2> <br> 
                <p>Nom : Bague Tournesol <br> <br>
                    Couleur : Jaune <br> <br>
                    Matière : Acier inoxydable <br> <br>
                    prix : 55 DT</p> <br>
            </div>
        </div>
        <div class="button-container">
            <div class="d-grid gap-2 d-md-flex justify-content-md">
             <button class="btn btn-primary me-md-2 button gauche" type="button" id="modifierb1">Modifierr</button>
            <button class="btn btn-primary me-md-2 button droite" type="button" id="supprimerb1">Supprimer</button>
          </div>
        </div>
    </div>
</body>