
<body>
    <div class="image-texte">
        <img src="assets/1.png" alt="Mon image">
        <div class="overlay">
          <h2>Vivions d'Amour & de Bijoux</h2>
          <p>Un brin de fantasie</p>
        </div>
      </div>
      <div class="container" id="Flora">
        <h3>Flora Creation</h3>
        <p>NE creations est une boutique et une bijouterie en ligne qui propose des articles avec des prix bien étudiés ! , qui se porte au quotidien comme pour les grandes occasions.
            Toutes nos créations sont pensées et réalisées dans notre atelier en Ariana "la ville des roses". Un lieu où Dame Nature nous emmène vers des chemins poétiques. 
            Je dis"nous"car NE creations c'est une histoire d'amites, une passion partagée entre des amis où la création est notre seule essence de vie.</p>
      </div>
      <div class="cadre" id="Nos-service">
       <h4>Nos Service</h4>
      </div>
      <div class="row">
        <div class="col-4" >
           <div class="cadre" id="service1">
            <h5>Paiement 100% sécurisé </h5>
            <br>
           <h6>Payez votre commande en toute confiance sur NE creations. plusieurs possibilités s'offrent a vous. le paiement par une carte bancaire ou le paiement cash a la livraison.</h6>
        </div>
        </div>
        <div class="col-4" >
            <div class="cadre" id="service2">
             <h5>Retrait au magasin</h5>
            
            <h6>Il est possible de retirer votre commande directement points de retrait a Ariana ou soukra. <br>  La livraison est alors gratuite.
             <br> Soyez le bienvenue </h6>
         </div>
        </div>
        <div class="col-4" >
            <div class="cadre" id="service3">
             <h5>livraison gratuite dés 150dt</h5>
            <br>
            <h6> La livraison est offerte pour toute la Tunisie et elle est gratuite dés 150dt    </h6>
         </div>
        </div>
      </div>
</body>
