
<body>
    

    <div class="cadre" id="Nos-montre">
        <h4>Nos Montre</h4>
       </div>
       <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card-img">
                    <img class="w-100" src="assets/mon1.jpg" alt="im1" routerLink="/montre1">
                </div>
                <div class="card-body" routerLink="/montre1">
                    <h5>Montre le Lys </h5>
                    <p  class="center">150 dt</p>
            
                </div>
            </div>
                <div class="col-3">
                    <div class="card-img">
                        <img class="w-100" src="assets/mon2.jpg" alt="im2">
                    </div>
                    <div class="card-body">
                        <h5>Montre la Lavande</h5>
                        <p  class="center">180 dt</p>
            
                    </div>
                </div>
                <div class="col-3">
                  <div class="card-img">
                      <img class="w-100" src="assets/mon3.jpg" alt="im3">
                  </div>
                  <div class="card-body">
                      <h5>Montre la Pensée</h5>
                      <p  class="center">99 dt</p>
            
                  </div>
              </div>
              <div class="col-3">
                <div class="card-img">
                    <img class="w-100" src="assets/mon4.jpg" alt="im4">
                </div>
                <div class="card-body">
                    <h5>Montre le Muflier</h5>
                    <p  class="center">120 dt</p>
            
                </div>
            </div>
            </div>
        </div>
        <div class="button-container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button (click)="gotoajout()" class="btn me-md-2 button droite " type="button">Ajouter</button>
          </div>
        </div>
    </body>
